/********************* CAREER CSS *********************/
#ft-form {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15
  }
  #ft-form *,
  #ft-form ::after,
  #ft-form ::before {
    box-sizing: border-box
  }
  #ft-form input,
  #ft-form select,
  #ft-form textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
  }
  #ft-form select {
    text-transform: none
  }
  #ft-form legend {
    padding: 0
  }
  #ft-form h2,
  #ft-form p {
    margin: 0
  }
  #ft-form fieldset {
    margin: 0;
    padding: 0
  }
  #ft-form html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5
  }
  #ft-form body {
    font-family: inherit;
    line-height: inherit
  }
  #ft-form *,
  #ft-form ::after,
  #ft-form ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
  }
  #ft-form textarea {
    resize: vertical
  }
  #ft-form input::-moz-placeholder,
  #ft-form textarea::-moz-placeholder {
    color: #9ca3af
  }
  #ft-form input:-ms-input-placeholder,
  #ft-form textarea:-ms-input-placeholder {
    color: #9ca3af
  }
  #ft-form input::placeholder,
  #ft-form textarea::placeholder {
    color: #9ca3af
  }
  #ft-form h2 {
    font-size: inherit;
    font-weight: inherit
  }
  #ft-form input,
  #ft-form select,
  #ft-form textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
  }
  #ft-form [type=date],
  #ft-form [type=email],
  #ft-form [type=tel],
  #ft-form [type=text],
  #ft-form select,
  #ft-form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem
  }
  #ft-form [type=date]:focus,
  #ft-form [type=email]:focus,
  #ft-form [type=tel]:focus,
  #ft-form [type=text]:focus,
  #ft-form select:focus,
  #ft-form textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
    border-color: #2563eb
  }
  #ft-form input::-moz-placeholder,
  #ft-form textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
  }
  #ft-form input:-ms-input-placeholder,
  #ft-form textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1
  }
  #ft-form input::placeholder,
  #ft-form textarea::placeholder {
    color: #6b7280;
    opacity: 1
  }
  #ft-form select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
  }
  #ft-form [type=checkbox],
  #ft-form [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px
  }
  #ft-form [type=checkbox] {
    border-radius: 0
  }
  #ft-form [type=radio] {
    border-radius: 100%
  }
  #ft-form [type=checkbox]:focus,
  #ft-form [type=radio]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
  }
  #ft-form [type=checkbox]:checked,
  #ft-form [type=radio]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
  }
  #ft-form [type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
  }
  #ft-form [type=radio]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
  }
  #ft-form [type=checkbox]:checked:focus,
  #ft-form [type=checkbox]:checked:hover,
  #ft-form [type=radio]:checked:focus,
  #ft-form [type=radio]:checked:hover {
    border-color: transparent;
    background-color: currentColor
  }
  #ft-form [type=checkbox]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
  }
  #ft-form [type=checkbox]:indeterminate:focus,
  #ft-form [type=checkbox]:indeterminate:hover {
    border-color: transparent;
    background-color: currentColor
  }
  #ft-form [type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
  }
  #ft-form [type=file]:focus {
    outline: 1px auto -webkit-focus-ring-color
  }
  #ft-form fieldset {
    font-size: 100%;
    margin-top: 3rem;
    margin-bottom: 1.5rem
  }
  #ft-form fieldset:first-child {
    margin-top: 0
  }
  #ft-form fieldset > * {
    display: block;
    margin-bottom: 1.5rem
  }
  #ft-form fieldset > :last-child {
    margin-bottom: 0
  }
  #ft-form fieldset > .two-cols > * {
    display: block;
    margin-bottom: 1.5rem
  }
  #ft-form fieldset > .two-cols > :last-child {
    margin-bottom: 0
  }
  @media only screen and (min-width:640px) {
    #ft-form fieldset > .two-cols {
      display: flex;
      align-items: flex-end
    }
    #ft-form fieldset > .two-cols > * {
      display: block;
      margin-right: 1.5rem;
      margin-top: 0;
      margin-bottom: 0;
      flex: 1
    }
    #ft-form fieldset > .two-cols > :last-child {
      margin-right: 0
    }
  }
  #ft-form fieldset div > label {
    display: inline-flex;
    align-items: flex-start;
    margin-top: .5rem;
    width: 100%
  }
  #ft-form fieldset div > label:last-child {
    margin: .5rem 0 0 0
  }
  #ft-form fieldset div.inline {
    padding: .55rem 0 0;
    width: 100%
  }
  #ft-form fieldset div.inline > label {
    width: auto;
    margin-right: .5rem
  }
  #ft-form fieldset div.inline > label:last-child {
    margin-right: 0
  }
  #ft-form fieldset > .two-cols div.inline {
    padding: .55rem 0
  }
  #ft-form fieldset > legend {
    font-weight: 700;
    font-size: 120%;
    margin-bottom: 1rem
  }
  #ft-form fieldset > p {
    margin: 0
  }
  #ft-form [type=file] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem
  }
  #ft-form [type=file]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
    border-color: #2563eb
  }
  #ft-form [multiple],
  #ft-form [type=date],
  #ft-form [type=datetime-local],
  #ft-form [type=email],
  #ft-form [type=file],
  #ft-form [type=month],
  #ft-form [type=number],
  #ft-form [type=password],
  #ft-form [type=search],
  #ft-form [type=tel],
  #ft-form [type=text],
  #ft-form [type=time],
  #ft-form [type=url],
  #ft-form [type=week],
  #ft-form select,
  #ft-form textarea {
    border-radius: .375rem;
    margin-top: .25rem;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
    border-color: #bbb;
    width: 100%
  }
  #ft-form [multiple] select,
  #ft-form [type=date] select,
  #ft-form [type=datetime-local] select,
  #ft-form [type=email] select,
  #ft-form [type=file] select,
  #ft-form [type=month] select,
  #ft-form [type=number] select,
  #ft-form [type=password] select,
  #ft-form [type=search] select,
  #ft-form [type=tel] select,
  #ft-form [type=text] select,
  #ft-form [type=time] select,
  #ft-form [type=url] select,
  #ft-form [type=week] select,
  #ft-form select select,
  #ft-form textarea select {
    padding-right: 2.5rem
  }
  #ft-form [multiple]:focus,
  #ft-form [type=date]:focus,
  #ft-form [type=datetime-local]:focus,
  #ft-form [type=email]:focus,
  #ft-form [type=file]:focus,
  #ft-form [type=month]:focus,
  #ft-form [type=number]:focus,
  #ft-form [type=password]:focus,
  #ft-form [type=search]:focus,
  #ft-form [type=tel]:focus,
  #ft-form [type=text]:focus,
  #ft-form [type=time]:focus,
  #ft-form [type=url]:focus,
  #ft-form [type=week]:focus,
  #ft-form select:focus,
  #ft-form textarea:focus {
    border-color: #bbb;
    box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
  }
  #ft-form [type=checkbox],
  #ft-form [type=radio] {
    color: #4f46e5;
    box-shadow: none;
    border-radius: .25rem;
    border-color: #bbb;
    margin-right: .5rem
  }
  #ft-form [type=checkbox]:focus,
  #ft-form [type=radio]:focus {
    border-color: #bbb;
    box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
  }
  #ft-form [type=radio] {
    border-radius: 100%
  }
  #ft-form .btns {
    text-align: right;
    margin-top: 3rem
  }
  #ft-form .btns > input[type=button],
  #ft-form .btns > input[type=reset],
  #ft-form .btns > input[type=submit] {
    display: inline-block;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    line-height: 1.25rem;
    border-width: 1px;
    border-radius: .375rem;
    border-color: #bbb;
    background-color: #fff;
    cursor: pointer;
    margin-left: .5rem;
    font-weight: 700
  }
  #ft-form .btns > input[type=button]:focus,
  #ft-form .btns > input[type=reset]:focus,
  #ft-form .btns > input[type=submit]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #bbb;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px rgba(199,210,254,.5),0 0 #0000
  }
  #ft-form .btns > input[type=submit] {
    background-color: #f3f4f5;
    transition: background-color .1s
  }
  #ft-form .btns > input[type=submit]:hover {
    background-color: #f8f9fa
  }


/****************** CAREER CSS END ********************/



/********** Template CSS **********/
:root {
    --primary: #2124b1;
    --secondary: #4777F5;
    --light: #F7FAFF;
    --dark: #1D1D27;
}

/* dark mode start here*/
.darkmode--activated h2, h1,  .darkmode--activated li {
    color: #fff;
  }
a,i{
    isolation: isolate;
}

nav{
    isolation: isolate;
    
}


/* dark mode end here */


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    
    filter:invert(95%) sepia(91%) saturate(2213%) hue-rotate(175deg) brightness(102%) contrast(87%);
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {

    .trianglee img{
       
    }
    .trianglee{
        display:none !important;
    }

    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--secondary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-bottom-hero.png);
        background-repeat: no-repeat;
        background-position: center bottom;
    }

.light-class{
    width: 80px;
    top:14%;
    left:5%;
    position: absolute;
    animation: krish 5s ease infinite ;
}

@media screen and (max-width:768px) {
    .light-class{
        width: 80px;
        top:5%;
        left:35%;
        position: absolute;
        animation: krish 5s ease infinite ;
    }

    .triangle-animationn{
        position: relative;
    }
    .trianglee img{
        width: 100px;
        opacity: .5;
        animation: trianglee 17s linear infinite;
        display: flex;
        margin-top: 550px !important;
        margin: 0 auto;
    }
    .trianglee{
        position: absolute;
        top:30px;
        right:50%;
        margin-top:298px;
    }
    
    @keyframes trianglee {
        0%{
            transform: rotate(360deg);
        }
    
        100%{
            /* transform: rotate(360deg); */
            opacity:.3;
        }
    }
}

@keyframes krish {
    0%{

        transform:scale(1.3);
        opacity: .5;
    }

    100%{
        transform:scale(1.7);
        opacity:0;
    }
    
}

/*circle animation start here*/

/* triangle animation hero section start here */
.triangle-animationn{
    position: relative;
}
.trianglee img{
    width: 100px;
    opacity: 0.2;
    animation: trianglee 17s linear infinite;
    display: flex;
    margin-top:230px !important;
    margin: 0 auto;
}
.trianglee{
    position: absolute;
    top:30px;
    right:47px;
}

@keyframes trianglee {
    0%{
        transform: rotate(360deg);
    }

    100%{
        /* transform: rotate(360deg); */
        opacity:.3;
    }
}

/* triangle animation hero section end here */

.circle-animationn{
    position: relative;
}

.circlee img{
    position: absolute;
    right: 40px;
    width: 100px;
    z-index:1;
    opacity: .5;
    animation: circlee 17s linear infinite;
}
.circlee{
    position: absolute;
    top:10px;
    right: 0;
}
@keyframes circlee {
    0%{
        margin-top:300px;
    }

    100%{
        margin-bottom: 400px;
        opacity:.5;
    }
}

/* circle animation end here */

/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** Service ***/
.service-item {
    position: relative;
    height: 350px;
    padding: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background:#8cc5de;
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/icon-shape-primary.png) center center no-repeat;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--primary);
    background: url(../img/icon-shape-white.png);
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: var(--light);
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}

.service-card-paragraph{
   font-size: 0.8rem;
}


/*** Testimonial ***/

.triangle-animation{
    position: relative;
}
.triangle img{
    width: 100px;
    opacity: .5;
    animation: triangle 17s linear infinite;
}
.triangle{
    position: absolute;
    top:30px;
    right:30px;
}

@keyframes triangle {
    0%{
        transform: rotate(360deg);
    }

    100%{
        /* transform: rotate(360deg); */
        opacity:.3;
        
    }
}

.circle-animation{
    position: relative;
}

.circle img{
    width: 100px;
    opacity: .5;
    animation: circle 17s linear infinite;
    
}
.circle{
    position: absolute;
    top:10px;
    
}

@media screen and (max-width:768px) {

    .circle-animation{
        position: relative;
    }
    
    .circle img{
        width: 100px;
        opacity: .5;
        animation: circle 17s linear infinite;
    }
    .circle{
        position: absolute;
        top:10px;
    }
    
  
    @keyframes circle {
        0%{
            margin-left:0px;
        }
    
        100%{
            margin-left:0px;
            opacity:.3;
        }
    }
    
}
@keyframes circle {
    0%{
        margin-left:110px;
    }

    100%{
        margin-left:-50px;
        opacity:0;
    }
}




.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--light) !important;
    border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}


/*** Team ***/
.team-item {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.team-item::after {
    position: absolute;
    content: "";
    top: 3rem;
    right: 3rem;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    background:#8cc5de;
}

.team-item h5,
.team-item small {
    transition: .5s;
}

.team-item:hover h5,
.team-item:hover small {
    color: var(--light);
}


/*** Project Portfolio ***/
#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--primary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    background: var(--primary);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/icon-shape-white.png) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* about-us */
.triangleee-animation{
    position: relative;
}
.triangleee img{
    width: 100px;
    opacity: .5;
    animation: triangleee 17s linear infinite;
}
.triangleee{
    position: absolute;
    top:120px;
    right:30px;
}

@keyframes triangleee {
    0%{
        transform: rotate(360deg);
    }

    100%{
        /* transform: rotate(360deg); */
        opacity:.3;
        
    }
}

.circleee-animation{
    position: relative;
}

.circleee img{
    width: 100px;
    opacity: .5;
    animation: circle 17s linear infinite;
    
}
.circleee{
    position: absolute;
    top:100px;
    
}

@media screen and (max-width:768px) {

    .circleee-animation{
        position: relative;
    }
    
    .circleee img{
        width: 100px;
        opacity: .5;
        animation: circleee 17s linear infinite;
    }
    .circleee{
        position: absolute;
        top:100px;
    }
    
  
    @keyframes circleee {
        0%{
            margin-left:0px;
        }
    
        100%{
            margin-left:0px;
            opacity:.3;
        }
    }
    
}
@keyframes circleee {
    0%{
        margin-left:50px;
    }

    100%{
        margin-left:-50px;
        opacity:0;
    }
}
