#toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.toast {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.toast.success {
  background-color: green;
}

.toast.error {
  background-color: red;
}
